# Deployment Environment Configuration

# Service Tags (Overrides)
IMAGE_NAME=*/lms
LMS_TAG=latest
LMS_ALPHA_TAG=alpha

# Integration Settings
MUSIC_MANAGEMENT_URL=http://music-management.example.com
MUSIC_MANAGEMENT_API_KEY=
LMS_SUBSONIC_API_KEY=

# Remote Deployment
DEPLOY_TARGET_NAME=LMS
REMOTE_HOST=
REMOTE_USER=
REMOTE_PASS=

# Discovery
PORTAINER_HOST=
